* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: #f0f8ff;
  background-color: rgb(117, 66, 66);
  justify-items: center;
}

#root {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addButton {
  margin: 0.7em;
  font-size: 15px;
  font-family: Arial;
  font-family: monospace;
  width: 146px;
  height: 50px;
  border-width: 1px;
  color: rgba(235, 25, 25, 1);
  border-color: #dcdcdc;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset -13px -3px 0px -11px rgba(189, 181, 181, 1);
  text-shadow: inset 0px 1px 0px #ffffff;
  background: linear-gradient(#ededed, #dfdfdf);
}

.addButton:hover {
  background: linear-gradient(#dfdfdf, #ededed);
}

h1,
h2 {
  margin: 0.9em;
  font-family: Arial;
  font-family: monospace;
  font-weight: 1em;
  font-size: 2em;
}

.conteinerList {
  color: #fdfdfd;
  height: 5rem;
  width: 5rem;
  display: inline-block;
}

.eraseButton {
  font-size: 15px;
  font-family: Arial;
  width: 30px;
  height: 30px;
  border-width: 1px;
  color: #fff;
  border-color: #d0451b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  text-shadow: inset 0px 1px 0px #854629;
  background: linear-gradient(#754242, #9b5f5f);
}

.eraseButton:hover {
  background: linear-gradient(#d0451b, #d0451b);
}

p {
  margin-top: 2em;
  font-family: Arial;
  font-family: monospace;
  font-weight: 1em;
  font-size: 0.9em;
}

input {
  width: 15rem;
  height: 2rem;
  border: solid 0.8px #424242;
  border-radius: 0.5rem;
}

/* @media(max-width: 200px){
  body {
  font-family: sans-serif;
  color: #f0f8ff;
  background-color: rgb(117, 66, 66);
  
}
  }
   */

@media (min-width: 201px) and (max-width: 350px) {
  body {
    font-family: sans-serif;
    color: #f0f8ff;
    background-color: rgb(117, 66, 66);
  }

  #root {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .addButton {
    margin: 0.7em;
    font-size: 15px;
    font-family: Arial;
    font-family: monospace;
    width: 146px;
    height: 50px;
    border-width: 1px;
    color: rgba(235, 25, 25, 1);
    border-color: #dcdcdc;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset -13px -3px 0px -11px rgba(189, 181, 181, 1);
    text-shadow: inset 0px 1px 0px #ffffff;
    background: linear-gradient(#ededed, #dfdfdf);
  }

  .addButton:hover {
    background: linear-gradient(#dfdfdf, #ededed);
  }

  h1,
  h2 {
    margin: 0.9em;
    font-family: Arial;
    font-family: monospace;
    font-weight: 1em;
    font-size: 2em;
  }

  .conteinerList {
    color: #fdfdfd;
    height: 5rem;
    width: 5rem;
    display: inline-block;
  }

  .eraseButton {
    font-size: 15px;
    font-family: Arial;
    width: 30px;
    height: 30px;
    border-width: 1px;
    color: #fff;
    border-color: #d0451b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    text-shadow: inset 0px 1px 0px #854629;
    background: linear-gradient(#754242, #9b5f5f);
  }

  .eraseButton:hover {
    background: linear-gradient(#d0451b, #d0451b);
  }

  p {
    margin-top: 2em;
    font-family: Arial;
    font-family: monospace;
    font-weight: 1em;
    font-size: 0.9em;
  }

  input {
    width: 12rem;
    height: 2rem;
    border: solid 0.8px #424242;
    border-radius: 0.5rem;
  }
}

@media (min-width: 351px) and (max-width: 500px) {
  body {
    font-family: sans-serif;
    color: #f0f8ff;
    text-align: center;
    background-color: rgb(117, 66, 66);
  }
  #root {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .addButton {
    margin: 0.7em;
    font-size: 15px;
    font-family: Arial;
    font-family: monospace;
    width: 146px;
    height: 50px;
    border-width: 1px;
    color: rgba(235, 25, 25, 1);
    border-color: #dcdcdc;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: inset -13px -3px 0px -11px rgba(189, 181, 181, 1);
    text-shadow: inset 0px 1px 0px #ffffff;
    background: linear-gradient(#ededed, #dfdfdf);
  }

  .addButton:hover {
    background: linear-gradient(#dfdfdf, #ededed);
  }

  h1,
  h2 {
    margin: 0.9em;
    font-family: Arial;
    font-family: monospace;
    font-weight: 1em;
    font-size: 2em;
  }

  .conteinerList {
    color: #fdfdfd;
    height: 5rem;
    width: 5rem;
    display: inline-block;
  }

  .eraseButton {
    font-size: 15px;
    font-family: Arial;
    width: 30px;
    height: 30px;
    border-width: 1px;
    color: #fff;
    border-color: #d0451b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    text-shadow: inset 0px 1px 0px #854629;
    background: linear-gradient(#754242, #9b5f5f);
  }

  .eraseButton:hover {
    background: linear-gradient(#d0451b, #d0451b);
  }

  p {
    margin-top: 2em;
    font-family: Arial;
    font-family: monospace;
    font-weight: 1em;
    font-size: 0.9em;
  }

  input {
    width: 18rem;
    height: 2rem;
    border: solid 0.8px #424242;
    border-radius: 0.5rem;
  }
}

/* @media(min-width:501px) and (max-width: 900px){
    body {
  font-family: sans-serif;
  color: #f0f8ff;
  background-color: rgb(117, 66, 66);
  
}

} */
